
.col {
  text-align:center;
  background-color:#eeeeee;
  border:thin gray solid;
}

/* Blades Spinning */

.windmill-icon {
    max-height: 400px;
}

.windmill-icon #rotor {
    transform-origin: 52.11px 984.6px;
    /*animation-duration: 10000ms;*/
    animation-name: rotateRight;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateRight {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes rotateRight {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
