<ion-view title="Inicio">
    <ion-content class="has-header" overflow-scroll="true" padding="true">

        <!-- Header logo -->
        <img style="width: 100%; height: auto;" src="img/green-eagle-logo.png" height="auto" width="100%">

        <!-- Login form -->
        <form class="list" name="myForm">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input placeholder="Username" type="text" name="myUsername" ng-model="data.username" ng-pattern="/^[a-z]+$/" ng-required="myForm.myUsername.$dirty">
            </label>
            <button class="button button-stable button-block" ng-disabled="myForm.myUsername.$error.pattern || myForm.myUsername.$pristine || myForm.myUsername.$error.required" ng-click="login(data.username)">Log in</button>
        </form>

    </ion-content>
</ion-view>
